#search {
	width: 800px;
	margin: 50px auto;
}

#search_btn{
	margin: 0 5px;
}

#main_searchbar {
	margin-bottom: 20px;	
}

.advanced-option {
	float: right;
	width: 50%;
	padding: 5px 5px 0 0;
}

#eq-result {

}

#feature {
	float:left;
	width: 40%;
}

#rankedproduct-result{
	float: right;	
	width: 50%;
	padding: 0 20px;
}

.eq-result-entry,
.rankedproduct-result-entry {
	background: rgb(240, 240, 240);
	cursor: pointer;
	display: -webkit-box;
	line-height: 32px;
	width: 450px;
	border: 1px solid rgb(202, 202, 202);
	border-radius: 4px;
	margin: 4px 0;
}

.eq-result-name,
.rankedproduct-result-name {
	padding: 0 12px;
}

.badge {
	cursor: pointer;
}

  
 #main_specs, #main_ratings, #main_cat{
  	font-size:small; 
  	left: 0px;  
  }
  
 .slider-cls{
  width:50%;
  }

#accordion-resizer{  
	padding: 10px;
  }
  
.slider 
{
    width: 50%;
    margin-left: 1em;
}


  