<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />
    <div id='demo'>			
			<h3><span class="label label-info">Product Exploration Demo</span></h3>	

			<div id='main_searchbar' class="input-group">
				<input id='main_search_text' type="text" class="form-control" style="width: 350px" placeholder="Please enter product names, brands, etc."></input>
				<button id='search_btn' type="button" class="btn btn-info">Search</button>
				<button id='advance_btn' class='btn'>advanced >></button>
			</div>

			<div id='advanced_searchbar' style='display:none'> 
			</div>

			<div id='result'>Result
				<table class="table table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
						</tr>
					</thead>
					<tbody>
	                    <tr th:each="product : ${productList.products}">
	                        <td th:text="${product.id}"></td>
	                        <td th:text="${product.name}"></td>
	                    </tr>
					</tbody>
				</table>
			</div>
			<div id='products_wrapper'></div>
	</div>
</body>
	<script src="//code.jquery.com/jquery-1.9.1.js"></script>
	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"></link>
	
	<script type='text/javascript' src='//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js'></script>
	<link rel='stylesheet' type='text/css' href='//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css'></link>
	<link rel='stylesheet' type='text/css' href='//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css'></link>
	
	
	<link rel='stylesheet' type='text/css' href='css/main.css' />
	<link rel='stylesheet' type='text/css' href='css/search.css' />
</html>
